/* Style pour tous les titres par défaut */
h1, h2, h3, h4, h5, h6 {
    color: #9cecfb;
}

/* Ou spécifiez pour chaque niveau */
h1 { color: #2b79f7ad; }
h2 { color: #83a4d4; }
h3 { color: #2bc0e4; }
h4 { color: #1fa2ff; }
h5 { color: #6ed6ff; }
h6 { color: #A8E6CF; } /* Même couleur que h5 car il n'y avait que 5 couleurs */

